@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-focus: #2563eb;
  --color-surface: rgba(255, 255, 255, 0.7);
  --color-surface-dark: rgba(15, 23, 42, 0.7);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225,39%,30%,0.2) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339,49%,30%,0.2) 0, transparent 50%);
  background-attachment: fixed;
}
